html,body
{
  margin:0;
  padding:0;
  height:100%;
  background-color:white;
}
a:hover
 {
   text-decoration:none;
 }
#mainContent
 {
	 background-color:white;
	 height:100%;
	 margin-left:225px;
 }
 @media(max-width:769px)
 {
  #mainContent
  {
	 background-color:white;
	 height:100%;
	 margin-left:0px;
  }
 }
#header {background-color:#222;}
.top-nav {padding: 0 15px;}
.left-header{display:inline-block;}
.right-header>li{display: inline-block; float: left;}
.right-header>li>a {padding-top: 15px;padding-bottom:15px; line-height: 20px;color: #999;}
.right-header>li>a:hover,.right-header>li>a:focus,.right-header>.open>a,.right-header>.open>a:hover,.right-header>.open>a:focus {color: #fff;background-color: #000;}

#content{height:95%;}
.left-content{margin-top:20px;}
.left-content>div{height:100%;}
.left-content .adviceTable{position:relative;top:-10px;}
@media(min-width:768px){
.left-content{height:100%; margin-top:30px;}
.left-content>div{height:90%;}}

.right-content{padding-top:20px;height:90%;margin-top:30px;}
.right-content .title{margin-top:40px;}
#Title {height: 60px;line-height: 46px;font-size: 14px;}
.right-content .content{height:50%;margin-top:120px;}
#Advice {text-indent: 2em;line-height: 2em;}
.right-content .content textarea{height:100%;}
.right-content .footer button{width:280px;position: relative;top:15px;}
 @media(max-width:768px) {
#Title {height: 50px;line-height: 36px;font-size: 14px;}
.right-content h2{font-size:24px;}
.right-content .title{margin-top:20px;}
.right-content .content{height:50%;margin-top:20px;}
.footer button{position: relative;top:10px;}}


.myModal{margin:0 auto;width:800px;}
.myModal>div{width: 40%;}
.myModal>div>div{width: 100%;}
.reply{height:600px;}
#replyAdvice {height: 300px;}
#replyTitle {height: 60px;line-height: 46px;font-size: 14px;}
.replyTitle{margin-top:40px;}
.replyContent{margin-top:60px;}
.submitButton {width: 400px;position: relative;top: 35px;}
@media ( max-width :768px) {
.myModal {margin: 0 auto;height: 500px;}
.mymodal>div {height: 500px;}
.mymodall>div>div {height: 500px;}
.submitButton {position: relative;width: 250px;top: 0px;}
.reply {width: 100%;height: 100%;}
.replyTitle {margin-top:10px;}
#replyTitle {height: 50px;line-height: 36px;font-size: 14px;}
#replyAdvice {height: 250px;}
.replyTitle textarea{}
.replyContent {margin-top:-10px;height: 250px;}
.replyContent textarea{height: 80%;}
	}
