html,body
{
  margin:0;
  padding:0;
  height:100%;
  background-color:white;
}
a:hover
 {
   text-decoration:none;
 }
#mainContent
 {
	 background-color:white;
	 height:100%;
	 margin-left:225px;
 }
 @media(max-width:769px)
 {
  #mainContent
  {
	 background-color:white;
	 height:100%;
	 margin-left:0px;
  }
 }
#mainContent > button{width:98%;height:40px;margin-top:20px;margin-left:1%;background-color:#007FFF;color:white;border-width:0.5px;}
#mainContent .spot{width:98%;margin-top:20px;margin-left:1%;}
#mainContent .mymodal{width:26em;margin-top:20px;margin-left:40%;}
#mainContent .mymodal .modal-body{padding-top:40px;}
#mainContent .mymodal .modal-body p input{width:12em;}
#mainContent .mymodal .modal-body .mydropdown1{width:8em;}
#mainContent .mymodal .modal-body .mydropdown1 button{width:8em}
#mainContent .mymodal .modal-body .mydropdown1 ul li{width:8em}
#mainContent .mymodal .modal-body button{width:5em;height:2.2em;position:relative;left:1em;margin-top:10px;}
.myModal1{width:16em;margin-top:20px;margin-left:47%;text-align:center;}
.myModal1 .modal-content .modal-body .mydropdown{width:8em;margin-top:10px;margin-left:auto;margin-right:auto;}
.myModal1 .modal-content .modal-body .mydropdown button{width:8em}
.myModal1 .modal-content .modal-body .mydropdown ul li{width:8em}
.myModal1 .modal-content .modal-body .myButton1{width:8em;height:30px;margin-top:10px;background-color:#007FFF;color:white;border-width:0.5px;border-radius:4px;}
@media(max-width:769px){
	#mainContent .mymodal{width:80%;margin-top:120px;margin-left:10%;text-align:center;}
	.myModal1{width:70%;margin-top:120px;margin-left:15%;}
	}