html,body
{
  margin:0;
  padding:0;
  height:100%;
  background-color:white;
}
a:hover
 {
   text-decoration:none;
 }
#mainContent
 {
	 background-color:white;
	 height:100%;
	 margin-left:225px;
 }
 @media(max-width:769px)
 {
  #mainContent
  {
	 background-color:white;
	 height:100%;
	 margin-left:0px;
  }
 }
#mainContent button{width:98%;height:40px;margin-top:20px;margin-left:1%;background-color:#007FFF;color:white;border-width:0.5px;}
#mainContent .spot{width:98%;margin-top:20px;margin-left:1%;}
#mainContent .mymodal{width:40%;margin-top:20px;margin-left:37%;}