
 html,body
 {
 height:100%;
 }
 .headerheader li
 {
	  display: inline-block;
 }
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;/*子代选择器，.top-nav 是后代选择器,这个可以把定右边垂直的导航栏放下来*/
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom:15px;/*使a标签的内容垂直居中,这样可以不改变a标签的位置，不要只想着用margin,有时padding也是挺好用的*/
    line-height: 20px;/*许多浏览去默认的行间距是20px,对子代选择器用的*/
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;/*点击时背景颜色变白*/
}
 .userAdvice
 {
	 height:100%; margin-top:30px;
 }
 .userAdviceDiv
 {
	 height:90%;
 }
 .adviceContent
 {
	 padding-top:20px;height:90%;margin-top:30px;
 }
 .adviceContentHeader
 {
	 padding:0px;
 }
 .adviceContentHeader div
 {
	 padding:0px;
 }
 .adviceContentHeader input
 {
	 border-top-right-radius:0;border-bottom-right-radius:0;
 }
 .adviceContentHeader button
 {
	 padding:0px;border-top-left-radius:0;border-bottom-left-radius:0;
 }
 .contentTitle
 {
	 margin-top:40px;
 }
 .contentContent
 {
	 height:50%;margin-top:120px;
 }
 .contentContent textarea
 {
	 height:100%;
 }
 .footer button
 {
	 width:100px;
 }
 @media(max-width:768px) {
	 .header{display:inline;}
	 .adviceContentHeader button
	 {
		 width:100%;
		 border-radius:2px;
	 }
	 .adviceContentHeader input
    {
	    border-radius:2px;
    }
	.contentTitle
 {
	 margin-top:20px;
 }
 .contentContent
 {
	 height:50%;margin-top:20px;
 }
 .footer button
 {
	 width:200px;
 }
 .userAdvice
 {
	 height:70%; margin-top:30px;
 }
 .userAdviceDiv
 {
	 height:100%;
 }
 }