body{
    background-color: #e9f8ea; 
    /*opacity: 0.3;*/
}
.back_ground{
    position: relative;
    top: -10px;
    left: -10px;
    background:url(bg5.png);
    background-size: 100%,500%;
    background-repeat:no-repeat;
    /*background-size:240% 100%;*/
    width:102.5%;
    height:102.5%;
}
#middle{

    height: 100%;
}
.bg_{
    position: relative;
    left: 20%;
    background:url(background2.png);
    background-repeat:no-repeat;
    background-position:-24.5px -39.5px;
    height:25px;
    width:30px;
    text-align:center;
	-webkit-transform: translate(190px, 18px);
	-moz-transform: translate(190px, 18px);
}
.bg_ a{
    line-height:36px;
    /*display:block;*/
    font-size: 20px;
    text-decoration:none;
}
pre{
    color: white;
    font-family: 寰蒋闆呴粦;
    -webkit-transform: translate(15px, -8px);
    -moz-transform: translate(15px, -8px);
}
#logo{  
    -webkit-transform: translate(0px, -18px);
    -moz-transform: translate(0px, -18px);
}
.a{
    position: relative;
    top: 240px;
    font-family:寰蒋绠�妤�
    font-size: 280%;
    color: #19fa28;
    /*-webkit-transform: translate(0px, 125px);
    -moz-transform: translate(0px, 125px);*/
}
.b{
    position: relative;
    top: 300px;
    font-family:鏂拌拏涓嬪崍鑼跺熀鏈増;
    /*font-size:41px;*/
    font-size: 280%;
    /*color: #0e842b;*/
    color: white;
    /*-webkit-transform: translate(0px, 80px);
    -moz-transform: translate(0px, 80px);*/
}
.button{
    position: relative;
    /*left: 26%;*//*锛熸寜閽湪涓嶅悓鐨勬墜鏈�浣嶇疆浼氭敼鍙�濡備綍灞呬腑鍥哄畾*/
    top: 300px;
    left: 10px;
    width: 280px;
    opacity: 0.9;
   /* width: 30%;*/
    height: 60px;
    font-family: 寰蒋闆呴粦;
    font-size: 22px;
    color: #0e932e; 
    border:2px solid #0e842b;
    border-radius:45px;
    background-color: #ffffff;
}
.button:hover{
    background-color: #95f0ab;
}

.tip{
    position: relative;
    top: 100px;
    font-family:寰蒋闆呴粦;
    font-size: 50px;
    color: #0e932e;
}
.p{
    width: 200px;
    color: black;
    font-size: 15px;
}
.h2{
    position: relative;
    margin-left: 10%;
    font-family: 浠垮畫;
    color: black;
    font-size: 20px;
}
/*.photo1{
    position: relative;
    left: 30%;
    width: 80px;
    height: 80;
}*/
li{
    float: left;
    list-style:none; 
}
.func1{
    position: absolute;
    /*top: 100px;*/
    /*padding-left: 10%;
    padding-top: 15%;*/
    margin-top: 10%;
    margin-left: 8%;
}
.func2{
    position: absolute;
    /*top: 200px;*/
    /*padding-left: 30%;
    padding-top: 15%;*/
    margin-top: 10%;
    margin-left: 16%;
}
.func3{
    position: absolute;
    /*top: 200px;*/
    /*padding-left: 50%;
    padding-top: 15%;*/
    margin-left: 40%;
    margin-top: 10%;
}
.func4{
    position: absolute;
    /*top: 200px;*/
    /*padding-left: 70%;*/
    /*padding-top: 15%;*/
    margin-top: 10%;
    margin-left: 66%; 
}
.photo1{
    position: relative;
    margin-left: 10%;
    background:url(background3.png);
    background-repeat:no-repeat;
    background-position:-100px 0px;
    height:110px;
    width:100px;
}
.photo2{
    position: relative;
    margin-left: 10%;
    background:url(background3.png);
    background-repeat:no-repeat;
    background-position:0px 0px;
    height:110px;
    width:100px;
}
.photo3{
    position: relative;
    margin-left: 10%;
    background:url(background3.png);
    background-repeat:no-repeat;
    background-position:-199px 0px;
    height:110px;
    width:100px;
}
.photo4{
    position: relative;
    margin-left: 10%;
    background:url(background3.png);
    background-repeat:no-repeat;
    background-position:-298px 0px;
    height:110px;
    width:100px;
}