body{
    background-color: #e9f8ea; 
    /*opacity: 0.3;*/
}
.back_ground{
    position: relative;
    top: -10px;
    left: -10px;
    background:url(bg.png);
    /*background-size: 100%,100%;*/
    background-repeat:no-repeat;
    background-size:150% 100%;
    width:103%;
    height:960px;
}

/*@font-face { 
font-family: '鏃跺皻缁嗛粦瀛椾綋'; 
src: url('鏃跺皻缁嗛粦瀛椾綋.ttf'); 
}*/
/*.bg{
    background:url(background.png);
    background-repeat:no-repeat;
    background-position:5px -45px;
    height:25px;
    width:30px;
    text-align:center;
    -webkit-transform: translate(500px, 100px);
    -moz-transform: translate(500px, 100px);
}
.bg a{
    color: black;
    line-height:36px;
    display:block;
    font-size: 16px;
    text-decoration:none;
    color: white;
    opacity: 0.4;   
    font-weight: bold;  
}*/

.bg_{
    background:url(background2.png);
    background-repeat:no-repeat;
    background-position:-24.5px -39.5px;
    height:25px;
    width:30px;
    text-align:center;
    -webkit-transform: translate(190px, 18px);
    -moz-transform: translate(190px, 18px);
}
.bg_ a{
    line-height:36px;
    /*display:block;*/
    font-size: 20px;
    text-decoration:none;
}
pre{
    color: white;
    font-family: 寰蒋闆呴粦;
    -webkit-transform: translate(15px, -8px);
    -moz-transform: translate(15px, -8px);
}
#logo{  
    -webkit-transform: translate(0px, -18px);
    -moz-transform: translate(0px, -18px);
}
.a{
    position: relative;
    top: 240px;
    font-family:寰蒋绠�妤�
    font-size: 280%;
    color: #19fa28;
    /*-webkit-transform: translate(0px, 125px);
    -moz-transform: translate(0px, 125px);*/
}
.b{
    position: relative;
    top: 300px;
    font-family:鏂拌拏涓嬪崍鑼跺熀鏈増;
    /*font-size:41px;*/
    font-size: 280%;
    /*color: #0e842b;*/
    color: white;
    /*-webkit-transform: translate(0px, 80px);
    -moz-transform: translate(0px, 80px);*/
}
.button{
    position: relative;
    /*left: 26%;*//*锛熸寜閽湪涓嶅悓鐨勬墜鏈�浣嶇疆浼氭敼鍙�濡備綍灞呬腑鍥哄畾*/
    top: 260px;
    width: 280px;
    opacity: 0.9;
   /* width: 30%;*/
    height: 60px;
    font-family: 寰蒋闆呴粦;
    font-size: 22px;
    color: #0e932e; 
    border:2px solid #0e842b;
    border-radius:45px;
    background-color: #ffffff;
    /*-webkit-transform: translate(125px, 150px);
    -moz-transform: translate(125px, 150px);*/
}
.button:hover{
    background-color: #95f0ab;
}
#middle{

}
.tip{

    position: absolute;
    padding-left: 25%;
    font-family:寰蒋闆呴粦;
    font-size: 50px;
    color: #0e932e;
}
/*.back_ground2{
    position: relative;
    top: -10px;
    left: -10px;
    background:url(bg2.png);
    background-size:240% 100%;
    width:103.5%;
    height:1860px;
}*/
li{
    position: relative;
    padding-left: 25%;
    list-style: none;
    /*-webkit-transform: translate(50px, 18px);
    -moz-transform: translate(50px, 18px);*/

}
.p{
    position: relative;
    left: -5%;
    width: 250px;
    color: black;
    font-size: 15px;
}
.h2{
    position: relative;
    /*left: 10%;*/
    font-family: 浠垮畫;
    color: black;
    font-size: 30px;
}
/*.photo1{
    position: relative;
    left: 15%;
    width: 80px;
    height: 80;
}*/
.func1{
    position: relative;
    top: 200px;
    left:-75px;
}
.func2{
    position: relative;
    top: 300px;
    left:-75px;
}
.func3{
    position: relative;
    top: 400px;
    left:-75px;
}
.func4{
    position: relative;
    top: 500px;
    left:-75px;
}
.photo1{
    position: relative;
    margin-left: 10%;
    background:url(background3.png);
    background-repeat:no-repeat;
    background-position:-100px 0px;
    height:110px;
    width:100px;
    left:-45px;
}
.photo2{
    position: relative;
    margin-left: 10%;
    background:url(background3.png);
    background-repeat:no-repeat;
    background-position:0px 0px;
    height:110px;
    width:100px;left:-45px;
}
.photo3{
    position: relative;
    margin-left: 10%;
    background:url(background3.png);
    background-repeat:no-repeat;
    background-position:-199px 0px;
    height:110px;
    width:100px;left:-45px;
}
.photo4{
    position: relative;
    margin-left: 10%;
    background:url(background3.png);
    background-repeat:no-repeat;
    background-position:-298px 0px;
    height:110px;
    width:100px;left:-45px;
}