<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
         http://www.springframework.org/schema/task
		 http://www.springframework.org/schema/task/spring-task-4.0.xsd
		 http://www.springframework.org/schema/mvc  
         http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd ">
	<!-- 启动mvc处理默认处理器，防止html页面打不开 -->
	<mvc:default-servlet-handler />
	<mvc:annotation-driven />


	<!-- 扫描包 -->
	<context:component-scan base-package="com.data.controller.visitorController" />


	<!-- 前台请求发送到对应控制器 -->
	<bean name="/login.html" class="com.data.controller.visitorController.LoginController"
		scope="prototype" />

	<bean name="/register.html"
		class="com.data.controller.visitorController.RegisterController"
		scope="prototype" />

	<bean name="/adminlogin.html"
		class="com.data.controller.adminController.adminFunctions.LoginController" />


	<bean name="/lockvisitor.html" class="com.data.controller.adminController.superAdminController.LockVisitorController"
		scope="prototype" />

	<bean name="/unlockvisitor.html" class="com.data.controller.adminController.superAdminController.UnlockVisitorController"
		scope="prototype" />
	
	<bean name="/addAdminRequest.html" class="com.data.controller.adminController.superAdminController.AddAdminController"/>
		
	<bean name="/deleteadmin.html" class="com.data.controller.adminController.superAdminController.deleteAdminController"/>
		

	<!-- Json动态加载 -->
	<bean name="/json"
		class="com.data.controller.adminController.superAdminController.JSONAction"
		scope="prototype" />
	<bean name="/adminlist" class="com.data.controller.adminController.superAdminController.AdminJsonList"
		scope="prototype" />

	<!-- JdbcTemplate -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="com.mysql.jdbc.Driver" p:url="jdbc:mysql://127.0.0.1:3306/guide"
		p:username="root" p:password="1234" />

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
		p:dataSource-ref="dataSource" />
	<!-- dao -->
	<bean id="tb_visitordaoimp" class="com.data.dao.singleForm.tb_visitorDaoImp"
		p:jdbcTemplate-ref="jdbcTemplate" />
	<bean id="tb_admindaoimp" class="com.data.dao.singleForm.tb_adminDaoImp"
		p:jdbcTemplate-ref="jdbcTemplate" />
	<bean id="adviceDao" class="com.data.dao.singleForm.tb_adviceDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="visitorDao" class="com.data.dao.singleForm.tb_visitorDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="adminDao" class="com.data.dao.singleForm.tb_adminDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="spotDao" class="com.data.dao.singleForm.tb_spotDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
    <bean id="provinceDao" class="com.data.dao.singleForm.tb_provinceDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    <bean id="provinceDaoImp" class="com.data.dao.singleForm.tb_provinceDaoImp">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    <bean id="cityDao" class="com.data.dao.singleForm.tb_cityDao">
    <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    <bean id="areaDao" class="com.data.dao.singleForm.tb_areaDao">
    <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
	<!-- model -->
	<bean id="tb_visitormodel" class="com.data.model.tb_visitorModel" />
	<bean id="tb_adminmodel" class="com.data.model.tb_adminModel" />


	<!-- visitorService -->
	<bean id="loginservice"
		class="com.data.service.visitorService.loginService.LoginServiceImp" />
	<bean id="registerservice"
		class="com.data.service.visitorService.registerService.RegisterServiceImp" /><!-- 
		class为...RegisterService时会有黄线提示，运行后则打不开主页？ -->
	<!-- adminService -->
	<bean id="adminloginservice"
		class="com.data.service.adminService.adminFunctions.loginService.LoginServiceImp" />

	<!-- superAdminService -->

	<bean id="lockvisitorservice" class="com.data.service.adminService.superAdminFunctions.lockVisitorService.LockVisitorServiceImp"/>
	<bean id="unlockvisitorservice" class="com.data.service.adminService.superAdminFunctions.unlockVisitorService.UnlockVisitorServiceImp"/>
	<bean id="loginserviceimp" class="com.data.service.adminService.adminFunctions.loginService.LoginServiceImp" />
	<bean id="addadminserviceimp" class="com.data.service.adminService.superAdminFunctions.addAdminService.AddAdminServiceImp"></bean>
	<bean id="deleteadminserviceimp" class="com.data.service.adminService.superAdminFunctions.deleteAdminService.deleteAdminServiceImp"/>
	

	<!-- singleForm -->



	<!-- 增加MD5 -->
	<bean id="encryption" class="com.data.md5.Encryption" />

	<!-- adviceService -->

	<bean id="AdviceDao" class="com.data.dao.singleForm.advicePage.AdviceDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="AdviceService"
		class="com.data.service.visitorService.adviceService.AdviceServiceImp">
		<property name="adviceDao" ref="AdviceDao"></property>
	</bean>
   
	<!-- checkAndReplyAdviceService -->

	<bean id="QueryDao" class="com.data.dao.QueryDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="CheckAdvice"
		class="com.data.service.visitorService.checkAndReplyAdviceService.CheckAndReplyAdviceImp">

		<property name="queryDao" ref="QueryDao"></property>
		<property name="adviceDao" ref="adviceDao"></property>
		<property name="visitorDao" ref="visitorDao"></property>
		<property name="adminDao" ref="adminDao"></property>
	</bean>

	<!-- changeAndDelAdminService -->
	<bean id="ChangeAndDelAdminService"
		class="com.data.service.visitorService.changeAndDelAdminService.ChangeAndDelAdminServiceImp">
		<property name="adminDao" ref="adminDao"></property>
		<property name="provinceDaoImp" ref="provinceDaoImp"></property>
		<property name="cityDao" ref="cityDao"></property>
		<property name="areaDao" ref="areaDao"></property>
		<property name="spotDao" ref="spotDao"></property>
	</bean>

	<!-- 视图解析 暂时没用 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="1"></property>
		<property name="prefix" value="classpath:wwww" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>