<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	 xmlns:tx="http://www.springframework.org/schema/tx"
	 xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
         http://www.springframework.org/schema/task
		 http://www.springframework.org/schema/task/spring-task-4.0.xsd
		 http://www.springframework.org/schema/mvc  
         http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd " 
		 >
    <mvc:default-servlet-handler/>
	      <mvc:annotation-driven/>
	<bean name="/login.html" class="com.data.controller.ControllerImp" scope="prototype" /><!-- ? 改变name就出错 -->

	<context:component-scan base-package="com.data.controller" />
    
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="com.mysql.jdbc.Driver"
		p:url="jdbc:mysql://127.0.0.1:3306/guide"
		p:username="root"
		p:password="1234"/>
		
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" 
		p:dataSource-ref="dataSource"/>
		
	 <bean id="impdao" class="com.data.dao.VisitorDaoImp"
		 p:jdbcTemplate-ref="jdbcTemplate"/>
		 
	<bean id="visitor" class="com.data.model.Visitor"/>
	
	<bean id="service" class="com.data.loginservice.LoginServiceImp"/>	
	
	<bean id="QueryVisitorDao" class="com.data.dao.QueryVisitorDao"/>
	
	<!-- 增加PositionDao -->
	<bean id="PositionDao" class="com.data.dao.PositionDaoImp" 
	p:jdbcTemplate-ref="jdbcTemplate"></bean>
	<bean id="PositionService" class="com.data.service.PositionServiceImp">
	<property name="dao" ref="PositionDao"></property>
	</bean>

<!-- 	<bean id="dao" class="com.data.dao.ImpDao"/>  -->
	 
	 <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="1"></property>
        <property name="prefix" value="classpath:wwww"/>  
        <property name="suffix" value=".jsp"/>   
    </bean>

</beans>