<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
         http://www.springframework.org/schema/task
		 http://www.springframework.org/schema/task/spring-task-4.0.xsd
		 http://www.springframework.org/schema/mvc  
         http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd ">
	<!-- 启动mvc处理默认处理器，防止html页面打不开 -->
	<mvc:default-servlet-handler />
	<mvc:annotation-driven />


	<!-- 前台请求发送到对应控制器 -->
	<bean name="/login.html" class="com.data.controller.visitorController.LoginController"
		scope="prototype" />

	<bean name="/register.html"
		class="com.data.controller.visitorController.RegisterController"
		scope="prototype" />








	<!-- JdbcTemplate -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="com.mysql.jdbc.Driver" p:url="jdbc:mysql://127.0.0.1:3306/guide"
		p:username="root" p:password="1234" />

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
		p:dataSource-ref="dataSource" />

	<bean id="tb_visitordaoimp" class="com.data.dao.singleForm.tb_visitorDaoImp"
		p:jdbcTemplate-ref="jdbcTemplate" />



	<!-- model -->
	<bean id="tb_visitormodel" class="com.data.model.tb_visitorModel" />



	<!-- visitorService -->
	<bean id="loginservice"
		class="com.data.service.visitorService.loginService.LoginServiceImp" />
	<bean id="registerservice"
		class="com.data.service.visitorService.registerService.RegisterServiceImp" /><!-- 
		class为...RegisterService时会有黄线提示，运行后则打不开主页？ -->


	<!-- singleForm -->



	<!-- 增加MD5 -->
	<bean id="encryption" class="com.data.md5.Encryption" />

	<!-- 实现游客的建议与投诉功能-->
	<context:component-scan base-package="com.data.controller.visitorController" />
	<bean id="AdviceDao" class="com.data.dao.singleForm.pageOne.AdviceDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="AdviceService" class="com.data.service.visitorService.adviceService.AdviceServiceImp">
	    <property name="adviceDao" ref="AdviceDao"></property>
	</bean>


	<!-- 视图解析 暂时没用 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="1"></property>
		<property name="prefix" value="classpath:wwww" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>